@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  scroll-padding-top: 130px; /* Ajusta para a altura do seu menu fixo */
}

/* Reset do Browser */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
    background-color: #F5F1EB;
    font-family: "Roboto", sans-serif;

}

/* HEADER - Menu */
.menu{
    background-color: #F5F1EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.menu nav a {
    color: #9A5FF5;
    font-weight: 600;
    padding: 5px 10px;
    padding: 0px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.menu nav a:hover {
    background-color: #9A5FF5;
    color: #FFF;
}
/* Fixar Menu - Topo */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* O header ocupa 100% da tela */
    z-index: 100; /* Coloca o header acima de outros elementos */
}


/* Config da Seção INÍCIO */

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
    padding-left: 0px;
    margin-top:150px;
}

h1 {
    font-size: 32px;
    font-weight: 900px;
    margin-top: 32px;
    margin-bottom: 20px;
}

h1 strong{
    color: #9A5FF5;
}

#inicio h1{
    font-size: 45px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 64px;
    margin-top: 50px;
}

.botao {
    background-color: #9A5FF5;
    border-radius: 80px;
    color: #FFF;
    padding: 16px 32px;
    text-decoration: none;
}


.botao:hover{
    background-color: #6b28cf;
    transition: 0.5s;  
}

.botao-transparente {
    background-color: transparent;
    color: #9A5FF5;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.botao-transparente:hover{
    color: #6b28cf;
    transition: 0.5s;
}


.img{
    margin-top: 125px;
    margin-bottom: 125px;

}


.absolute {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Config da Seção CLÍNICA */
#clinica {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
    margin-bottom: 100px;
}

#clinica img{
    margin-top: 50px;
}

.titulo-clinica{
    margin-top: 50px;
}

li {
    margin-bottom: 15px;
    margin-left: 15px;
}

ul{
    margin-bottom: 80px;
}

/* Seção Farmácia */
#farmacia {
  background-color: #FFD9D9;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-top: -40px;
  margin-bottom: 50px;
}

 
/* Container do conteúdo */
.farmacia-container {
  background-color: #F5F1EB;
  border-radius: 24px;
  max-width: 1000px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
 
.img-farmacia{
    margin-top: 100px;
    border-radius: 25px;
}
 
.paragrafo-farmacia{
    margin-top: 80px;
}

/* Seção Dúvidas */
#duvidas {
    padding: 80px;
}

.duvidas-container {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.duvidas-conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.duvida {
    border: 1px solid #ff725e;
    border-radius: 8px;
    overflow: hidden; /* Garante cantos arredondados consistentes */
    position: relative;
}

.duvida h3 {
    background-color: #fff;
    padding: 24px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo {
    padding: 24px;
    margin: 0;
    line-height: 1.5;

    /* Eventos JS
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .2s; */
}

.duvida.ativa .paragrafo {
    opacity: 1;
    height: fit-content;
    overflow: 24px;
    padding: 60px 24px 10px;
}

/*Seção Footer */
.footer {
    background-color: #ffc6bd;
     line-height: 1.8;
}

.footer1 .link {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer1 li {
    margin: 5px 0;
    padding: 0;
}

.footer1 a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0;
    margin: 0;
}

.footer-paragrafo {
    margin-top: 20px;
}

.highlight {
    color: #fa6753;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.encerramento {
    text-align: center;
    background-color: #263138;
    color: #fff;
    padding: 10px;
}

.encontrar {
    margin-bottom: 20px;
}

.footer3 a {
    color: #ff725e;
    text-decoration-line: none;
    /* padding-left: 7px; */
} 